node_modules/

# 通过编译生成的文件
/packages/*/lib
dist/
*.tsbuildinfo

# lock file
package-lock.json

# 知晓云
.mincloudrc

# convert-types
packages/convert-types/_schema.json
packages/convert-types/typings/schema.d.ts
